nav{
    background-color:rgba(209, 95, 18, 0.91);
    overflow:hidden;
    padding:0 20px;
    position:sticky;
    top: 0;
    z-index: 1;
    
}
nav ul{
    list-style-type:none;
    float:right;
    padding:20px;

}
nav a{
    text-decoration:none;
    display:inline-block;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:20px;
}

nav ul li{
    float:left;
    padding:20px;
    /* margin:0 10px; */

}
#logo{
    /* margin-bottom:20px; */
    /* float:left; */
    /* padding-bottom:20px; */
    padding:20px;
    /* margin:0 20px; */
    /* color:white; */
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width:170px;
    height:100px;
    /* margin:0 20px; */
    display:inline-block;
}
marquee{
    color:rgba(209, 95, 18, 0.91);
    text-shadow:1px 1px 1px;
}
@media(max-width:450px){
    nav {
        position: static;
        width: 100%;
    }

    nav ul li{
        float: right;
        width: 100%;
    }
}